[MASTER]
load-plugins=

[MESSAGES CONTROL]
disable=
    invalid-name,
    missing-docstring,
    duplicate-code,
    protected-access,
    redefined-outer-name,
    too-many-arguments,
    too-many-locals,
    too-many-statements,
    unused-argument,
    unused-import,
    unused-variable,
    wrong-import-position,
    import-outside-toplevel,
    logging-too-many-args,
    broad-exception-caught,
    raise-missing-from,
    no-member,
    too-many-positional-arguments,
    too-many-instance-attributes,
    no-else-return,
    unnecessary-pass,
    redefined-builtin,
    line-too-long,
    too-few-public-methods,
    import-error,

[FORMAT]
max-line-length=100

[DESIGN]
max-attributes=10

[BASIC]
# Good variable names which should always be accepted
good-names=
    i,j,k,
    ex,Run,_,
    id,x,y,z,
    df,db,e

[LOGGING]
logging-format-style=new


